body{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(5,5,10,1) 48%, rgba(184,13,36,1) 90%);
}


.carousel {
    width: 100%;
   
    
}
.carousel-inner{
    width: 100% ;
   
}
.carousel-item img {
    display: block;
    margin: 0 auto;
    width: 100% !important;
    object-fit: contain;
    object-position: bottom center;
}
.carousel-item{

   max-width:2000px ;
   height: 600px;
    
}
   


.card{
    background-color:#fff;  
}

.btn-primary{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(5,5,10,1) 48%, rgba(184,13,36,1) 90%);
}
.card-img-top{
    
    height: 400px;
}
.navbar-expand-lg{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(5,5,10,1) 48%, rgba(184,13,36,1) 90%);

}
ul li a{
    color: #fff !important;
}
.navbar-brand:hover{
    
    color:#fff;
}
.navbar-brand{
    color:#fff;
}
.card{
    margin: 15px;
}










